app/views/configuration.pug
extends layouts/layout.pug

block title
  title Configuration page

block content  
  include blocks/header
  .selected-c
    .main-container
      h3 Выбранные модели
      .selected-c__arrow.selected-c__arrow--prev
        svg.icon.icon--arrow-left
          use(xlink:href="img/svg-sprite.svg#arrow-left")
      .selected-c__arrow.selected-c__arrow--next
        svg.icon.icon--arrow-right
          use(xlink:href="img/svg-sprite.svg#arrow-right")
      .selected-c__inner
        .selected-slider
          each selectedIn in selected
            +selectedSliderItem(selectedIn.img,selectedIn.name,selectedIn.status)
  .conf.main-container
    h3 Конфигурации
    .flex-wrap
      .col.content-r 
        .conf-list
          each confIn in conf 
            +confListItem(confIn.active,confIn.img,confIn.name,confIn.code,confIn.text,confIn.price,confIn.delivery_time)
      .aside
        .aside__inner
          .aside__title Фильтр
            i.icon-i-arrow-down
          .aside__cont
            .accordion
              .accordion__header Предустановленные процессоры
                i.icon-i-arrow-down
              .accordion__drop.accordion__drop--active 
                .form-row.mb-0 
                  select.styler
                    option.hidden-option Выберите установку
                    option Установка 1
                    option Установка 2
                    option Установка 3
            .accordion
              .accordion__header Предустановленная RAM
                i.icon-i-arrow-down
              .accordion__drop.accordion__drop--active 
                label.checkbox
                  .checkbox__cont
                    input(type="checkbox" checked).checkbox__input
                    .checkbox__style
                  | 1
                  .checkbox__num 750
                label.checkbox
                  .checkbox__cont
                    input(type="checkbox").checkbox__input
                    .checkbox__style
                  | 2
                  .checkbox__num 69
                label.checkbox
                  .checkbox__cont
                    input(type="checkbox").checkbox__input
                    .checkbox__style
                  | 4
                  .checkbox__num 1
            .accordion
              .accordion__header Форм-фактор дисков
                i.icon-i-arrow-down
              .accordion__drop.accordion__drop--active 
                label.checkbox
                  .checkbox__cont
                    input(type="checkbox" checked).checkbox__input
                    .checkbox__style
                  | 2.5”(SFF)
                  .checkbox__num 750
                label.checkbox
                  .checkbox__cont
                    input(type="checkbox").checkbox__input
                    .checkbox__style
                  | 3.5”(LFF)
                  .checkbox__num 69
            a(href="").btn.btn--blue.btn--full показать результаты
            a(href="").aside__reset 
              i.icon-i-reset 
              | сбросить все фильтры
  .product-footer
    .main-container.flex-wrap
      .product-footer__status Выбрано 
        span 2 конфигурации
      .col-auto 
        a(href="").btn-r.btn-r--blue.product-footer__btn вернуться назад
      .col-auto.ml-auto 
        a(href="").btn.btn--blue.product-footer__btn сконфигурировать  

dest/configuration.html
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Configuration page</title>
    <link href="styles/main.css" rel="stylesheet">
  </head>
  <body>
    <div id="overlay"></div>
    <main id="main">
      <header class="header" id="header"> 
        <div class="main-container"> 
          <div class="flex-wrap"> 
            <div class="col-auto"> <a class="header__logo" href=""><i class="icon-i-logo"></i>Конфигуратор <br>серверного оборудования</a></div>
            <div class="col-auto ml-auto"><a class="header__question modal-btn" href="#feedback"><i class="icon-i-question"></i><span>вопрос специалисту</span></a><a class="header__phone" href="tel:+ 7(495) 31 88 33">+ 7(495) 31 88 33</a>
              <div class="header__search">
                <div class="header__search-btn"><i class="icon-i-search"></i><i class="icon-i-reset"></i></div>
              </div>
              <div class="header__search-cont">
                <input class="header__search-input" type="text" placeholder="Введите название оборудования здесь">
                <button class="header__search-submit"><i class="icon-i-search"></i></button>
                <div class="header__search-result">
                  <div class="header__search-label">Результаты (23)</div>
                  <div class="header__search-row">
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name">HPE <span>DL3</span>60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)</div></a></div>
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name">HPE <span>DL3</span>60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)  </div></a></div>
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name">HPE <span>DL3</span>60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)</div></a></div>
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name">HPE <span>DL3</span>60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)</div></a></div>
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name">HPE <span>DL3</span>60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)</div></a></div>
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name"> <span>DL3 </span>HPE 60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)</div></a></div>
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name"> <span>DL3 </span>HPE 60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)</div></a></div>
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name"> <span>DL3 </span>HPE 60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)</div></a></div>
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name"> <span>DL3 </span>HPE 60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)</div></a></div>
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name"> <span>DL3 </span>HPE 60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)</div></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="header__switch"><a class="header__switch-item header__switch-item--active" href=""><i class="icon-i-logo-h"></i></a><a class="header__switch-item" href=""><i class="icon-i-logo-d"></i></a></div>
          </div>
          <ul class="header__nav">
            <li class="header__nav-item header__nav-item--active"><a class="header__nav-link header__nav-link--active" href=""> <span>Выбор модели</span></a></li>
            <li class="header__nav-item header__nav-item--active"><a class="header__nav-link header__nav-link--active" href=""> <span>Список конфигураций</span></a></li>
            <li class="header__nav-item"><a class="header__nav-link" href=""> <span>настройка и оформление</span></a></li>
          </ul>
        </div>
      </header>
      <div class="selected-c">
        <div class="main-container">
          <h3>Выбранные модели</h3>
          <div class="selected-c__arrow selected-c__arrow--prev">
            <svg class="icon icon--arrow-left">
              <use xlink:href="img/svg-sprite.svg#arrow-left"></use>
            </svg>
          </div>
          <div class="selected-c__arrow selected-c__arrow--next">
            <svg class="icon icon--arrow-right">
              <use xlink:href="img/svg-sprite.svg#arrow-right"></use>
            </svg>
          </div>
          <div class="selected-c__inner">
            <div class="selected-slider">
              <div class="selected-slider__item"><a class="selected-slider__remove" href="">
                  <svg class="icon icon--remove">
                    <use xlink:href="img/svg-sprite.svg#remove"></use>
                  </svg></a><a class="selected-slider__inner" href="">
                  <div class="selected-slider__img-w"><img class="selected-slider__img" src="img/pic-1.jpg" alt=""/></div>
                  <div class="selected-slider__cont">
                    <div class="selected-slider__name">HPE DL360 gen10</div>
                    <div class="selected-slider__status">IU (2CPU max)</div>
                  </div></a></div>
              <div class="selected-slider__item"><a class="selected-slider__remove" href="">
                  <svg class="icon icon--remove">
                    <use xlink:href="img/svg-sprite.svg#remove"></use>
                  </svg></a><a class="selected-slider__inner" href="">
                  <div class="selected-slider__img-w"><img class="selected-slider__img" src="img/pic-2.jpg" alt=""/></div>
                  <div class="selected-slider__cont">
                    <div class="selected-slider__name">HPE DL360 gen10</div>
                    <div class="selected-slider__status">IU (2CPU max)</div>
                  </div></a></div>
              <div class="selected-slider__item"><a class="selected-slider__remove" href="">
                  <svg class="icon icon--remove">
                    <use xlink:href="img/svg-sprite.svg#remove"></use>
                  </svg></a><a class="selected-slider__inner" href="">
                  <div class="selected-slider__img-w"><img class="selected-slider__img" src="img/pic-3.jpg" alt=""/></div>
                  <div class="selected-slider__cont">
                    <div class="selected-slider__name">HPE DL360 gen10</div>
                    <div class="selected-slider__status">IU (2CPU max)</div>
                  </div></a></div>
              <div class="selected-slider__item"><a class="selected-slider__remove" href="">
                  <svg class="icon icon--remove">
                    <use xlink:href="img/svg-sprite.svg#remove"></use>
                  </svg></a><a class="selected-slider__inner" href="">
                  <div class="selected-slider__img-w"><img class="selected-slider__img" src="img/pic-4.jpg" alt=""/></div>
                  <div class="selected-slider__cont">
                    <div class="selected-slider__name">HPE DL360 gen10</div>
                    <div class="selected-slider__status">IU (2CPU max)</div>
                  </div></a></div>
              <div class="selected-slider__item"><a class="selected-slider__remove" href="">
                  <svg class="icon icon--remove">
                    <use xlink:href="img/svg-sprite.svg#remove"></use>
                  </svg></a><a class="selected-slider__inner" href="">
                  <div class="selected-slider__img-w"><img class="selected-slider__img" src="img/pic-1.jpg" alt=""/></div>
                  <div class="selected-slider__cont">
                    <div class="selected-slider__name">HPE DL360 gen10</div>
                    <div class="selected-slider__status">IU (2CPU max)</div>
                  </div></a></div>
              <div class="selected-slider__item"><a class="selected-slider__remove" href="">
                  <svg class="icon icon--remove">
                    <use xlink:href="img/svg-sprite.svg#remove"></use>
                  </svg></a><a class="selected-slider__inner" href="">
                  <div class="selected-slider__img-w"><img class="selected-slider__img" src="img/pic-2.jpg" alt=""/></div>
                  <div class="selected-slider__cont">
                    <div class="selected-slider__name">HPE DL360 gen10</div>
                    <div class="selected-slider__status">IU (2CPU max)</div>
                  </div></a></div>
              <div class="selected-slider__item"><a class="selected-slider__remove" href="">
                  <svg class="icon icon--remove">
                    <use xlink:href="img/svg-sprite.svg#remove"></use>
                  </svg></a><a class="selected-slider__inner" href="">
                  <div class="selected-slider__img-w"><img class="selected-slider__img" src="img/pic-3.jpg" alt=""/></div>
                  <div class="selected-slider__cont">
                    <div class="selected-slider__name">HPE DL360 gen10</div>
                    <div class="selected-slider__status">IU (2CPU max)</div>
                  </div></a></div>
              <div class="selected-slider__item"><a class="selected-slider__remove" href="">
                  <svg class="icon icon--remove">
                    <use xlink:href="img/svg-sprite.svg#remove"></use>
                  </svg></a><a class="selected-slider__inner" href="">
                  <div class="selected-slider__img-w"><img class="selected-slider__img" src="img/pic-4.jpg" alt=""/></div>
                  <div class="selected-slider__cont">
                    <div class="selected-slider__name">HPE DL360 gen10</div>
                    <div class="selected-slider__status">IU (2CPU max)</div>
                  </div></a></div>
              <div class="selected-slider__item"><a class="selected-slider__remove" href="">
                  <svg class="icon icon--remove">
                    <use xlink:href="img/svg-sprite.svg#remove"></use>
                  </svg></a><a class="selected-slider__inner" href="">
                  <div class="selected-slider__img-w"><img class="selected-slider__img" src="img/pic-1.jpg" alt=""/></div>
                  <div class="selected-slider__cont">
                    <div class="selected-slider__name">HPE DL360 gen10</div>
                    <div class="selected-slider__status">IU (2CPU max)</div>
                  </div></a></div>
              <div class="selected-slider__item"><a class="selected-slider__remove" href="">
                  <svg class="icon icon--remove">
                    <use xlink:href="img/svg-sprite.svg#remove"></use>
                  </svg></a><a class="selected-slider__inner" href="">
                  <div class="selected-slider__img-w"><img class="selected-slider__img" src="img/pic-2.jpg" alt=""/></div>
                  <div class="selected-slider__cont">
                    <div class="selected-slider__name">HPE DL360 gen10</div>
                    <div class="selected-slider__status">IU (2CPU max)</div>
                  </div></a></div>
              <div class="selected-slider__item"><a class="selected-slider__remove" href="">
                  <svg class="icon icon--remove">
                    <use xlink:href="img/svg-sprite.svg#remove"></use>
                  </svg></a><a class="selected-slider__inner" href="">
                  <div class="selected-slider__img-w"><img class="selected-slider__img" src="img/pic-3.jpg" alt=""/></div>
                  <div class="selected-slider__cont">
                    <div class="selected-slider__name">HPE DL360 gen10</div>
                    <div class="selected-slider__status">IU (2CPU max)</div>
                  </div></a></div>
              <div class="selected-slider__item"><a class="selected-slider__remove" href="">
                  <svg class="icon icon--remove">
                    <use xlink:href="img/svg-sprite.svg#remove"></use>
                  </svg></a><a class="selected-slider__inner" href="">
                  <div class="selected-slider__img-w"><img class="selected-slider__img" src="img/pic-4.jpg" alt=""/></div>
                  <div class="selected-slider__cont">
                    <div class="selected-slider__name">HPE DL360 gen10</div>
                    <div class="selected-slider__status">IU (2CPU max)</div>
                  </div></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="conf main-container">
        <h3>Конфигурации</h3>
        <div class="flex-wrap">
          <div class="col content-r"> 
            <div class="conf-list">
              <div class="conf-list__item">
                <div class="conf-list__inner ">
                  <div class="conf-list__img-w"><img class="conf-list__img" src="img/pic-1.jpg" alt=""/></div>
                  <div class="conf-list__cont col"> <a class="conf-list__name" href="">HPE DL360 gen10</a>
                    <div class="conf-list__code">P/N 828882-202</div>
                    <div class="conf-list__text">Сервер HPE Plroliant DL360 Gen10 Gold 6130 Rack(1U) / 2xXeon16C 2.1 GHZ (22 Мб) / 2x32GbR2D_2666 / PA08i-aFBWC(2GB) / RAIDF 0 / 1 /10 / 5//50 /6 /60 / NottDD(10)NVMeSFF / noDVD  iLOadv / 7 platforms / 4x1GBRth 2x10</div>
                    <div class="flex-wrap"> 
                      <div class="col-auto"> 
                        <div class="conf-list__price">236 990 ₽</div>
                        <div class="conf-list__delivery-time">Срок поставки: 3 дня</div>
                      </div>
                      <div class="col-auto ml-auto"><a class="btn-r btn-r--blue conf-list__btn" href="">сконфигурировать</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="conf-list__item">
                <div class="conf-list__inner conf-list__inner--active">
                  <div class="conf-list__img-w"><img class="conf-list__img" src="img/pic-2.jpg" alt=""/></div>
                  <div class="conf-list__cont col"> <a class="conf-list__name" href="">HPE DL360 gen10</a>
                    <div class="conf-list__code">P/N 828882-202</div>
                    <div class="conf-list__text">Сервер HPE Plroliant DL360 Gen10 Gold 6130 Rack(1U) / 2xXeon16C 2.1 GHZ (22 Мб) / 2x32GbR2D_2666 / PA08i-aFBWC(2GB) / RAIDF 0 / 1 /10 / 5//50 /6 /60 / NottDD(10)NVMeSFF / noDVD  iLOadv / 7 platforms / 4x1GBRth 2x10</div>
                    <div class="flex-wrap"> 
                      <div class="col-auto"> 
                        <div class="conf-list__price">236 990 ₽</div>
                        <div class="conf-list__delivery-time">Срок поставки: 3 дня</div>
                      </div>
                      <div class="col-auto ml-auto"><a class="btn-r btn-r--blue conf-list__btn" href="">сконфигурировать</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="conf-list__item">
                <div class="conf-list__inner conf-list__inner--active">
                  <div class="conf-list__img-w"><img class="conf-list__img" src="img/pic-3.jpg" alt=""/></div>
                  <div class="conf-list__cont col"> <a class="conf-list__name" href="">HPE DL360 gen10</a>
                    <div class="conf-list__code">P/N 828882-202</div>
                    <div class="conf-list__text">Сервер HPE Plroliant DL360 Gen10 Gold 6130 Rack(1U) / 2xXeon16C 2.1 GHZ (22 Мб) / 2x32GbR2D_2666 / PA08i-aFBWC(2GB) / RAIDF 0 / 1 /10 / 5//50 /6 /60 / NottDD(10)NVMeSFF / noDVD  iLOadv / 7 platforms / 4x1GBRth 2x10</div>
                    <div class="flex-wrap"> 
                      <div class="col-auto"> 
                        <div class="conf-list__price">236 990 ₽</div>
                        <div class="conf-list__delivery-time">Срок поставки: 3 дня</div>
                      </div>
                      <div class="col-auto ml-auto"><a class="btn-r btn-r--blue conf-list__btn" href="">сконфигурировать</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="conf-list__item">
                <div class="conf-list__inner ">
                  <div class="conf-list__img-w"><img class="conf-list__img" src="img/pic-4.jpg" alt=""/></div>
                  <div class="conf-list__cont col"> <a class="conf-list__name" href="">HPE DL360 gen10</a>
                    <div class="conf-list__code">P/N 828882-202</div>
                    <div class="conf-list__text">Сервер HPE Plroliant DL360 Gen10 Gold 6130 Rack(1U) / 2xXeon16C 2.1 GHZ (22 Мб) / 2x32GbR2D_2666 / PA08i-aFBWC(2GB) / RAIDF 0 / 1 /10 / 5//50 /6 /60 / NottDD(10)NVMeSFF / noDVD  iLOadv / 7 platforms / 4x1GBRth 2x10</div>
                    <div class="flex-wrap"> 
                      <div class="col-auto"> 
                        <div class="conf-list__price">236 990 ₽</div>
                        <div class="conf-list__delivery-time">Срок поставки: 3 дня</div>
                      </div>
                      <div class="col-auto ml-auto"><a class="btn-r btn-r--blue conf-list__btn" href="">сконфигурировать</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="conf-list__item">
                <div class="conf-list__inner ">
                  <div class="conf-list__img-w"><img class="conf-list__img" src="img/pic-1.jpg" alt=""/></div>
                  <div class="conf-list__cont col"> <a class="conf-list__name" href="">HPE DL360 gen10</a>
                    <div class="conf-list__code">P/N 828882-202</div>
                    <div class="conf-list__text">Сервер HPE Plroliant DL360 Gen10 Gold 6130 Rack(1U) / 2xXeon16C 2.1 GHZ (22 Мб) / 2x32GbR2D_2666 / PA08i-aFBWC(2GB) / RAIDF 0 / 1 /10 / 5//50 /6 /60 / NottDD(10)NVMeSFF / noDVD  iLOadv / 7 platforms / 4x1GBRth 2x10</div>
                    <div class="flex-wrap"> 
                      <div class="col-auto"> 
                        <div class="conf-list__price">236 990 ₽</div>
                        <div class="conf-list__delivery-time">Срок поставки: 3 дня</div>
                      </div>
                      <div class="col-auto ml-auto"><a class="btn-r btn-r--blue conf-list__btn" href="">сконфигурировать</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="conf-list__item">
                <div class="conf-list__inner ">
                  <div class="conf-list__img-w"><img class="conf-list__img" src="img/pic-2.jpg" alt=""/></div>
                  <div class="conf-list__cont col"> <a class="conf-list__name" href="">HPE DL360 gen10</a>
                    <div class="conf-list__code">P/N 828882-202</div>
                    <div class="conf-list__text">Сервер HPE Plroliant DL360 Gen10 Gold 6130 Rack(1U) / 2xXeon16C 2.1 GHZ (22 Мб) / 2x32GbR2D_2666 / PA08i-aFBWC(2GB) / RAIDF 0 / 1 /10 / 5//50 /6 /60 / NottDD(10)NVMeSFF / noDVD  iLOadv / 7 platforms / 4x1GBRth 2x10</div>
                    <div class="flex-wrap"> 
                      <div class="col-auto"> 
                        <div class="conf-list__price">236 990 ₽</div>
                        <div class="conf-list__delivery-time">Срок поставки: 3 дня</div>
                      </div>
                      <div class="col-auto ml-auto"><a class="btn-r btn-r--blue conf-list__btn" href="">сконфигурировать</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="aside">
            <div class="aside__inner">
              <div class="aside__title">Фильтр<i class="icon-i-arrow-down"></i></div>
              <div class="aside__cont">
                <div class="accordion">
                  <div class="accordion__header">Предустановленные процессоры<i class="icon-i-arrow-down"></i></div>
                  <div class="accordion__drop accordion__drop--active"> 
                    <div class="form-row mb-0"> 
                      <select class="styler">
                        <option class="hidden-option">Выберите установку</option>
                        <option>Установка 1</option>
                        <option>Установка 2</option>
                        <option>Установка 3</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <div class="accordion__header">Предустановленная RAM<i class="icon-i-arrow-down"></i></div>
                  <div class="accordion__drop accordion__drop--active"> 
                    <label class="checkbox">
                      <div class="checkbox__cont">
                        <input class="checkbox__input" type="checkbox" checked>
                        <div class="checkbox__style"></div>
                      </div>1
                      <div class="checkbox__num">750</div>
                    </label>
                    <label class="checkbox">
                      <div class="checkbox__cont">
                        <input class="checkbox__input" type="checkbox">
                        <div class="checkbox__style"></div>
                      </div>2
                      <div class="checkbox__num">69</div>
                    </label>
                    <label class="checkbox">
                      <div class="checkbox__cont">
                        <input class="checkbox__input" type="checkbox">
                        <div class="checkbox__style"></div>
                      </div>4
                      <div class="checkbox__num">1</div>
                    </label>
                  </div>
                </div>
                <div class="accordion">
                  <div class="accordion__header">Форм-фактор дисков<i class="icon-i-arrow-down"></i></div>
                  <div class="accordion__drop accordion__drop--active"> 
                    <label class="checkbox">
                      <div class="checkbox__cont">
                        <input class="checkbox__input" type="checkbox" checked>
                        <div class="checkbox__style"></div>
                      </div>2.5”(SFF)
                      <div class="checkbox__num">750</div>
                    </label>
                    <label class="checkbox">
                      <div class="checkbox__cont">
                        <input class="checkbox__input" type="checkbox">
                        <div class="checkbox__style"></div>
                      </div>3.5”(LFF)
                      <div class="checkbox__num">69</div>
                    </label>
                  </div>
                </div><a class="btn btn--blue btn--full" href="">показать результаты</a><a class="aside__reset" href=""> <i class="icon-i-reset"> </i>сбросить все фильтры</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-footer">
        <div class="main-container flex-wrap">
          <div class="product-footer__status">Выбрано <span>2 конфигурации</span></div>
          <div class="col-auto"> <a class="btn-r btn-r--blue product-footer__btn" href="">вернуться назад</a></div>
          <div class="col-auto ml-auto"> <a class="btn btn--blue product-footer__btn" href="">сконфигурировать  </a></div>
        </div>
      </div>
      <div class="modal" id="feedback"> 
        <div class="modal__close"><i class="icon-i-reset"></i></div>
        <div class="modal__title">Задать вопрос специалисту</div>
        <div class="modal__form-inner">
          <div class="form-row">
            <input class="form-row__input" type="text" placeholder="Ваше имя">
          </div>
          <div class="form-row">
            <input class="form-row__input phone-mask" type="tel" placeholder="Телефон">
          </div>
          <div class="form-row">
            <input class="form-row__input" type="email" placeholder="Email">
          </div>
          <div class="form-row">
            <textarea class="form-row__textarea" placeholder="Сообщение"></textarea>
          </div>
          <div class="form-row">
            <label class="checkbox">
              <div class="checkbox__cont">
                <input class="checkbox__input" type="checkbox" checked>
                <div class="checkbox__style"></div>
              </div>Соглашаюсь с <a href="">политикой обработки данных</a>
            </label>
          </div>
          <div class="form-row form-row--submit"><a class="btn btn--blue btn--full modal-btn" href="#order-done">отправить</a></div>
        </div><i class="icon-i-question"></i>
      </div>
      <div class="modal" id="order-done"> 
        <div class="modal__close"><i class="icon-i-reset"></i></div>
        <div class="modal__title mb-0">Поздравляем!</div>
        <div class="modal__info">Ваш заказ № 1231234 Оплачен</div>
        <div class="modal__form-inner">
          <div class="form-row mb-0"><a class="btn btn--blue btn--full" href="">отправить</a></div>
          <svg class="icon icon--check-o">
            <use xlink:href="img/svg-sprite.svg#check-o"></use>
          </svg>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/libs.min.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
