app/views/index.pug
extends layouts/layout.pug

block title
  title Main page

block content  
  include blocks/header
  .main-container.cont
    .aside
      .aside__inner
        .aside__title Поиск по 
          span характеристикам
          i.icon-i-arrow-down
        .aside__cont
          .accordion
            .accordion__header тип корпуса
              i.icon-i-arrow-down
            .accordion__drop.accordion__drop--active 
              label.checkbox
                .checkbox__cont
                  input(type="checkbox" checked).checkbox__input
                  .checkbox__style
                | 1U
                .checkbox__num 750
              label.checkbox
                .checkbox__cont
                  input(type="checkbox").checkbox__input
                  .checkbox__style
                | 2U
                .checkbox__num 69
              label.checkbox
                .checkbox__cont
                  input(type="checkbox").checkbox__input
                  .checkbox__style
                | 4U
                .checkbox__num 1
              label.checkbox
                .checkbox__cont
                  input(type="checkbox").checkbox__input
                  .checkbox__style
                | Tower
                .checkbox__num 9
          .accordion
            .accordion__header макс. CPU
              i.icon-i-arrow-down
            .accordion__drop.accordion__drop--active 
              label.checkbox
                .checkbox__cont
                  input(type="checkbox" checked).checkbox__input
                  .checkbox__style
                | 1
                .checkbox__num 750
              label.checkbox
                .checkbox__cont
                  input(type="checkbox").checkbox__input
                  .checkbox__style
                | 2
                .checkbox__num 69
              label.checkbox
                .checkbox__cont
                  input(type="checkbox").checkbox__input
                  .checkbox__style
                | 4
                .checkbox__num 1
          .accordion
            .accordion__header форм фактор
              i.icon-i-arrow-down
            .accordion__drop.accordion__drop--active 
              label.checkbox
                .checkbox__cont
                  input(type="checkbox" checked).checkbox__input
                  .checkbox__style
                | 2.5”(SFF)
                .checkbox__num 750
              label.checkbox
                .checkbox__cont
                  input(type="checkbox").checkbox__input
                  .checkbox__style
                | 3.5”(LFF)
                .checkbox__num 69
          .aside__sub-title Планирую установку
          .form-row.mb-0 
            select.styler
              option.hidden-option Выберите установку
              option Установка 1
              option Установка 2
              option Установка 3
          .aside__hint Выберите одну из 20 готовых установок
          a(href="").btn.btn--blue.btn--full показать результаты
          a(href="").aside__reset 
            i.icon-i-reset 
            | сбросить все фильтры
    .content-l.col
      .product-list
        each productList in product_list
          +productListItem(productList.active,productList.img,productList.name,productList.category)
  .product-footer
    .main-container.flex-wrap
      .product-footer__status Выбрано 
        span 3 модели 
        |и 
        span 10 конфигураций
      .col-auto.ml-auto 
        a(href="").btn.btn--blue.product-footer__btn показать конфигурации  
      

dest/index.html
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main page</title>
    <link href="styles/main.css" rel="stylesheet">
  </head>
  <body>
    <div id="overlay"></div>
    <main id="main">
      <header class="header" id="header"> 
        <div class="main-container"> 
          <div class="flex-wrap"> 
            <div class="col-auto"> <a class="header__logo" href=""><i class="icon-i-logo"></i>Конфигуратор <br>серверного оборудования</a></div>
            <div class="col-auto ml-auto"><a class="header__question modal-btn" href="#feedback"><i class="icon-i-question"></i><span>вопрос специалисту</span></a><a class="header__phone" href="tel:+ 7(495) 31 88 33">+ 7(495) 31 88 33</a>
              <div class="header__search">
                <div class="header__search-btn"><i class="icon-i-search"></i><i class="icon-i-reset"></i></div>
              </div>
              <div class="header__search-cont">
                <input class="header__search-input" type="text" placeholder="Введите название оборудования здесь">
                <button class="header__search-submit"><i class="icon-i-search"></i></button>
                <div class="header__search-result">
                  <div class="header__search-label">Результаты (23)</div>
                  <div class="header__search-row">
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name">HPE <span>DL3</span>60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)</div></a></div>
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name">HPE <span>DL3</span>60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)  </div></a></div>
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name">HPE <span>DL3</span>60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)</div></a></div>
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name">HPE <span>DL3</span>60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)</div></a></div>
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name">HPE <span>DL3</span>60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)</div></a></div>
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name"> <span>DL3 </span>HPE 60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)</div></a></div>
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name"> <span>DL3 </span>HPE 60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)</div></a></div>
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name"> <span>DL3 </span>HPE 60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)</div></a></div>
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name"> <span>DL3 </span>HPE 60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)</div></a></div>
                    <div class="header__search-item"><a class="header__search-inner" href="">
                        <div class="header__search-img-w"><img class="header__search-img" src="img/pic-1.jpg" alt=""></div>
                        <div class="header__search-name"> <span>DL3 </span>HPE 60 <br>gen10</div>
                        <div class="header__search-status">IU (2CPU max)</div></a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="header__switch"><a class="header__switch-item header__switch-item--active" href=""><i class="icon-i-logo-h"></i></a><a class="header__switch-item" href=""><i class="icon-i-logo-d"></i></a></div>
          </div>
          <ul class="header__nav">
            <li class="header__nav-item header__nav-item--active"><a class="header__nav-link header__nav-link--active" href=""> <span>Выбор модели</span></a></li>
            <li class="header__nav-item header__nav-item--active"><a class="header__nav-link header__nav-link--active" href=""> <span>Список конфигураций</span></a></li>
            <li class="header__nav-item"><a class="header__nav-link" href=""> <span>настройка и оформление</span></a></li>
          </ul>
        </div>
      </header>
      <div class="main-container cont">
        <div class="aside">
          <div class="aside__inner">
            <div class="aside__title">Поиск по <span>характеристикам</span><i class="icon-i-arrow-down"></i></div>
            <div class="aside__cont">
              <div class="accordion">
                <div class="accordion__header">тип корпуса<i class="icon-i-arrow-down"></i></div>
                <div class="accordion__drop accordion__drop--active"> 
                  <label class="checkbox">
                    <div class="checkbox__cont">
                      <input class="checkbox__input" type="checkbox" checked>
                      <div class="checkbox__style"></div>
                    </div>1U
                    <div class="checkbox__num">750</div>
                  </label>
                  <label class="checkbox">
                    <div class="checkbox__cont">
                      <input class="checkbox__input" type="checkbox">
                      <div class="checkbox__style"></div>
                    </div>2U
                    <div class="checkbox__num">69</div>
                  </label>
                  <label class="checkbox">
                    <div class="checkbox__cont">
                      <input class="checkbox__input" type="checkbox">
                      <div class="checkbox__style"></div>
                    </div>4U
                    <div class="checkbox__num">1</div>
                  </label>
                  <label class="checkbox">
                    <div class="checkbox__cont">
                      <input class="checkbox__input" type="checkbox">
                      <div class="checkbox__style"></div>
                    </div>Tower
                    <div class="checkbox__num">9</div>
                  </label>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__header">макс. CPU<i class="icon-i-arrow-down"></i></div>
                <div class="accordion__drop accordion__drop--active"> 
                  <label class="checkbox">
                    <div class="checkbox__cont">
                      <input class="checkbox__input" type="checkbox" checked>
                      <div class="checkbox__style"></div>
                    </div>1
                    <div class="checkbox__num">750</div>
                  </label>
                  <label class="checkbox">
                    <div class="checkbox__cont">
                      <input class="checkbox__input" type="checkbox">
                      <div class="checkbox__style"></div>
                    </div>2
                    <div class="checkbox__num">69</div>
                  </label>
                  <label class="checkbox">
                    <div class="checkbox__cont">
                      <input class="checkbox__input" type="checkbox">
                      <div class="checkbox__style"></div>
                    </div>4
                    <div class="checkbox__num">1</div>
                  </label>
                </div>
              </div>
              <div class="accordion">
                <div class="accordion__header">форм фактор<i class="icon-i-arrow-down"></i></div>
                <div class="accordion__drop accordion__drop--active"> 
                  <label class="checkbox">
                    <div class="checkbox__cont">
                      <input class="checkbox__input" type="checkbox" checked>
                      <div class="checkbox__style"></div>
                    </div>2.5”(SFF)
                    <div class="checkbox__num">750</div>
                  </label>
                  <label class="checkbox">
                    <div class="checkbox__cont">
                      <input class="checkbox__input" type="checkbox">
                      <div class="checkbox__style"></div>
                    </div>3.5”(LFF)
                    <div class="checkbox__num">69</div>
                  </label>
                </div>
              </div>
              <div class="aside__sub-title">Планирую установку</div>
              <div class="form-row mb-0"> 
                <select class="styler">
                  <option class="hidden-option">Выберите установку</option>
                  <option>Установка 1</option>
                  <option>Установка 2</option>
                  <option>Установка 3</option>
                </select>
              </div>
              <div class="aside__hint">Выберите одну из 20 готовых установок</div><a class="btn btn--blue btn--full" href="">показать результаты</a><a class="aside__reset" href=""> <i class="icon-i-reset"> </i>сбросить все фильтры</a>
            </div>
          </div>
        </div>
        <div class="content-l col">
          <div class="product-list">
            <div class="product-list__item"> <a class="product-list__inner " href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-1.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
            <div class="product-list__item"> <a class="product-list__inner product-list__inner--active" href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-2.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
            <div class="product-list__item"> <a class="product-list__inner " href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-3.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
            <div class="product-list__item"> <a class="product-list__inner " href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-2.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
            <div class="product-list__item"> <a class="product-list__inner " href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-1.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
            <div class="product-list__item"> <a class="product-list__inner " href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-2.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
            <div class="product-list__item"> <a class="product-list__inner product-list__inner--active" href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-3.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
            <div class="product-list__item"> <a class="product-list__inner " href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-4.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
            <div class="product-list__item"> <a class="product-list__inner " href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-1.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
            <div class="product-list__item"> <a class="product-list__inner product-list__inner--active" href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-2.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
            <div class="product-list__item"> <a class="product-list__inner " href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-3.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
            <div class="product-list__item"> <a class="product-list__inner " href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-4.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
            <div class="product-list__item"> <a class="product-list__inner " href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-1.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
            <div class="product-list__item"> <a class="product-list__inner " href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-2.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
            <div class="product-list__item"> <a class="product-list__inner " href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-3.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
            <div class="product-list__item"> <a class="product-list__inner " href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-4.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
            <div class="product-list__item"> <a class="product-list__inner " href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-1.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
            <div class="product-list__item"> <a class="product-list__inner " href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-2.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
            <div class="product-list__item"> <a class="product-list__inner " href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-3.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
            <div class="product-list__item"> <a class="product-list__inner " href="">
                <div class="product-list__img-w"><img class="product-list__img" src="img/pic-4.jpg" alt=""/></div>
                <div class="product-list__cont">
                  <div class="product-list__name">HPE DL360 gen10</div>
                  <div class="product-list__category">IU (2CPU max)</div>
                </div></a></div>
          </div>
        </div>
      </div>
      <div class="product-footer">
        <div class="main-container flex-wrap">
          <div class="product-footer__status">Выбрано <span>3 модели </span>и <span>10 конфигураций</span></div>
          <div class="col-auto ml-auto"> <a class="btn btn--blue product-footer__btn" href="">показать конфигурации  </a></div>
        </div>
      </div>
      <div class="modal" id="feedback"> 
        <div class="modal__close"><i class="icon-i-reset"></i></div>
        <div class="modal__title">Задать вопрос специалисту</div>
        <div class="modal__form-inner">
          <div class="form-row">
            <input class="form-row__input" type="text" placeholder="Ваше имя">
          </div>
          <div class="form-row">
            <input class="form-row__input phone-mask" type="tel" placeholder="Телефон">
          </div>
          <div class="form-row">
            <input class="form-row__input" type="email" placeholder="Email">
          </div>
          <div class="form-row">
            <textarea class="form-row__textarea" placeholder="Сообщение"></textarea>
          </div>
          <div class="form-row">
            <label class="checkbox">
              <div class="checkbox__cont">
                <input class="checkbox__input" type="checkbox" checked>
                <div class="checkbox__style"></div>
              </div>Соглашаюсь с <a href="">политикой обработки данных</a>
            </label>
          </div>
          <div class="form-row form-row--submit"><a class="btn btn--blue btn--full modal-btn" href="#order-done">отправить</a></div>
        </div><i class="icon-i-question"></i>
      </div>
      <div class="modal" id="order-done"> 
        <div class="modal__close"><i class="icon-i-reset"></i></div>
        <div class="modal__title mb-0">Поздравляем!</div>
        <div class="modal__info">Ваш заказ № 1231234 Оплачен</div>
        <div class="modal__form-inner">
          <div class="form-row mb-0"><a class="btn btn--blue btn--full" href="">отправить</a></div>
          <svg class="icon icon--check-o">
            <use xlink:href="img/svg-sprite.svg#check-o"></use>
          </svg>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/libs.min.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
